[Desktop Entry]
Name=Niri
Comment=Scrollable-tiling Wayland compositor
Exec=/home/plote/.local/share/niri-setup/scripts/start-niri-session.sh
Type=Application
DesktopNames=niri
